
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage Vibe - Contact Us</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>

    <header id="header">
        <a href="/"><img src="../web_pics/logo.jpg" alt="Voyage Vibe Logo" class="logo"></a>
        <h1>Voyage Vibe</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/destination">Destinations</a></li>
                <li><a href="/package">Packages</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <br>
        <br>
        <br>
        <section class="contact">
            <h2>Contact Us</h2>
            <p>Email: voyagevibe@gmail.com</p>
            <p>Phone: +91 9876543210</p>
            <p>We would love to hear from you! Feel free to reach out with any questions or inquiries.</p>
        </section>
    </main>

</body>
