
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage Vibe - Destinations</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header id="header">
        <a href="/"><img src="../web_pics/logo.jpg" alt="Voyage Vibe Logo" class="logo"></a>
        <h1>Voyage Vibe</h1>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/destination">Destinations</a></li>
                <li><a href="/package">Packages</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="destin">
        <section>
            <h1 class="sect">Popular Destinations</h1>
            <br>
            <br>
            <ul class="dest">
                <li><a href="/paris" class="destinations"><img src="../web_pics/paris_dest.jpg" alt="Paris"><span>Paris<br> The city of lights</span></a></li>
                <li><a href="/newyork" class="destinations"><img src="../web_pics/nyc_dest.jpg" alt="NewYork"><span>New York <br> The city that never sleeps</span></a></li>
                <li><a href="/tokyo" class="destinations"><img src="../web_pics/tokyo_dest.jpg" alt="Tokyo"><span>Tokyo <br> A blend of tradition and modernity</span></a></li>
            </ul>
        </section>
    </main>
</body>
